﻿@model PetaPoco.Page<Business.ViewModels.ProductViewModels>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="page-title">
    <div class="title_left">
        <h3> Quản lý sản phẩm </h3>
    </div>
    <div style="float: right">
        <a class="btn btn-primary" href="@Url.Action("FormCreateProduct")">Thêm sản phâm mới</a>
    </div>
</div>

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_content">
                <table class="table table-striped responsive-utilities jambo_table bulk_action">
                    <thead>
                        <tr class="headings">
                            <th class="column-title">ID </th>
                            <th class="column-title">Tên sản phẩm </th>
                            <th class="column-title">Loại SP </th>
                            <th class="column-title">Loại con </th>
                            <th class="column-title">Nhà sản xuất </th>
                            <th class="column-title">Giá bán </th>
                            <th class="column-title">Ngày ra mắt </th>
                            <th class="column-title no-link last">
                                <span class="nobr">Action</span>
                            </th>
                            <th class="bulk-actions" colspan="7">
                                <a class="antoo" style="color:#fff; font-weight:500;">Bulk Actions ( <span class="action-cnt"> </span> ) <i class="fa fa-chevron-down"></i></a>
                            </th>
                        </tr>
                    </thead>

                    <tbody>
@foreach (var item in Model.Items)
{
                        <tr class="even pointer">
                            <td>@item.ProductID</td>
                            <td>@item.ProductName</td>
                            <td>@item.CategoryName </td>
                            <td>@item.SubCategoryName</td>
                            <td>@item.ProducerName</td>
                            <td>@item.Price</td>
                            <td class="a-right a-right ">@item.UploadDate.ToShortDateString()</td>
                            <td class="last">
                                <a href="@Url.Action("Detail", new { ProID = item.ProductID })">Chi tiết</a> / 
                                <a style="cursor:pointer" id="@String.Format("ProID{0}", item.ProductID)"  data-ProID="@item.ProductID" data-ProName="@item.ProductName">Xoá</a> / 
                                <a href="@Url.Action("Gallery", new { ProID = item.ProductID })">Hình ảnh</a>
                            </td>
                        </tr>
}
                    </tbody>
                </table>
                <ul class="pagination" style="float:right">
                    @for (int i = 1; i <= Model.TotalPages; i++)
                    {
                        if (i == Model.CurrentPage)
                        {
                            <li class="active"><a href="@Url.Action("Index", new { id = i})">@i</a></li>
                        }
                        else
                        {
                            <li><a href="@Url.Action("Index", new { id = i})">@i</a></li>
                        }
                    }
                </ul>
            </div>
        </div>
    </div>
</div>
@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $("a[id*='ProID']").click(function () {
                var id = $(this).attr('data-ProID');
                var name = $(this).attr('data-ProName');
                var item = $(this).parent().parent();
                $('<div></div>').appendTo('body')
                .html('<div><h6>Bạn có muốn xoá sản phẩm ' + name + '?</h6></div>')
                .dialog({
                    modal: true,
                    title: 'Xác nhận',
                    zIndex: 10000,
                    autoOpen: true,
                    width: '250px',
                    resizable: false,
                    buttons: {
                        Yes: function () {
                            $.ajax({
                                type: 'GET',
                                url: '@Url.Action("DeleteProduct")',
                                data: {
                                    ProID: id
                                },
                                success: function (result) {
                                    item.fadeOut();  
                                }
                            });
                            $(this).dialog("close");
                            
                        },
                        No: function () {
                            $(this).dialog("close");
                        }
                    },
                    close: function (event, ui) {
                        $(this).remove();
                    }
                });
            });
        });
    </script>
}