﻿@model IEnumerable<Connection.Image>
@{ 
    Layout = null;
}

@foreach (var item in Model)
{
<div class="col-md-55">
    <div class="thumbnail" style="height: 240px">
        <div class="image view view-first" style="height: 200px">
            <img style="width: 100%; height: 100%; display: block;" src="@item.Link" alt="image" />
            <div class="mask">
                @if (item.IsMainImage.Value)
                {
                    <p>Ảnh đại diện</p>
                }
                
                <div class="tools tools-bottom">
                    <a href="@Url.Action("SetMainImg", item)"><i class="fa fa-pencil"></i></a>
                    <a href="@Url.Action("DeleteImg", item)"><i class="fa fa-times"></i></a>
                </div>
            </div>
        </div>
        <div class="caption">
            @if (item.IsMainImage.Value)
            {
                <p>Ảnh đại diện</p>
            }
        </div>
    </div>
</div>
}