﻿
@{
    ViewBag.Title = "Detail";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<input type="text" id="SaleID" value="@ViewBag.SaleID" hidden>
<div ng-app="appSaleDetail">
    <div ng-controller="ctrlSaleDetail">
        <div class="page-title">
            <div class="title_left">
                <h3> Chi tiết khuyến mãi: </h3>
            </div>
        </div>

        <div class="row" ng-init="loadSaleDetail()">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_content">
                        <table class="table table-striped responsive-utilities jambo_table bulk_action">
                            <thead>
                                <tr class="headings">
                                    <th class="column-title">ID </th>
                                    <th class="column-title">Sản phẩm </th>
                                    <th class="column-title">Giá gốc </th>
                                    <th class="column-title">Giảm giá </th>
                                    <th class="column-title">Giá sau khi giảm </th>
                                    <th class="column-title no-link last">
                                        <span class="nobr">Action</span>
                                    </th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr class="even pointer" ng-repeat="saledetail in SaleDetails">
                                    <td class=" ">{{$index + 1}}</td>
                                    <td class=" ">{{saledetail.ProductName}}</td>
                                    <td class=" ">{{saledetail.Price}}</td>
                                    <td class=" ">{{saledetail.Value}}</td>
                                    <td class=" ">{{(saledetail.Price * (1 - saledetail.Discount)) | roundup}}</td>
                                    <td class=" last">
                                        <a href="" ng-click="getSaleDetail($index)">Cập nhật giảm giá</a> / 
                                        <a href="" ng-click="removeSaleDetail(saledetail.SaleDetailID)">Xoá</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <ul class="pagination" style="float:right">
                            <li class="active" ng-repeat="page in totalPages">
                                <a href="#">{{page}}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!--Start searching-->
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel title">
                    <div class="x_title">
                        <h4>Tìm kiếm sản phẩm</h4>
                    </div>
                    <div class="x_content">
                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-2 col-sm-9 col-xs-9 col-md-offset-2">
                                    <input type="text" class="form-control" placeholder="Tên sản phẩm" ng-change="searching()" ng-model="s_proName" />
                                </div>

                                <div class="col-md-2 col-sm-9 col-xs-9">
                                    @Html.Action("CategoryList", "List", new { CatID = -1 })
                                </div>

                                <div class="col-md-2 col-sm-9 col-xs-9">
                                    <select class="form-control" id="SubCategoryID" name="SubCategoryID" ng-change="searching()" ng-model="s_subCat">
                                        <option value="-1">-- Chọn loại con --</option>
                                    </select>
                                </div>

                                <div class="col-md-2 col-sm-9 col-xs-9">
                                    @Html.Action("ProducerList", "List", new { ProducerID = -1 })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="x_content">
                        <table class="table table-striped responsive-utilities jambo_table bulk_action">
                            <thead>
                                <tr class="headings">
                                    <th class="column-title">ID </th>
                                    <th class="column-title">Tên sản phẩm </th>
                                    <th class="column-title">Loại SP </th>
                                    <th class="column-title">Loại con </th>
                                    <th class="column-title">Nhà sản xuất </th>
                                    <th class="column-title no-link">
                                        <span class="nobr">Action</span>
                                    </th>
                                    <th class="column-title last">% giảm giá </th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr class="even pointer" ng-repeat="pro in products">
                                    <td>{{$index + 1}}</td>
                                    <td>{{pro.ProductName}}</td>
                                    <td>{{pro.CategoryName}}</td>
                                    <td>{{pro.SubCategoryName}}</td>
                                    <td>{{pro.ProducerName}}</td>
                                    <td class="last">
                                       <label><input ng-model="pro.selected" ng-change="checkOrUncheck(pro.ProductID)" name="cbChoose" type="checkbox" style="height: 15px; width: 15px;" /></label>
                                    </td>
                                    <td>
                                        <select ng-show="pro.selected" ng-model="pro.insDiscountID" class="form-control selectDiscountSearching">
                                            <option ng-repeat="discount in Discounts"
                                                    value="{{discount.DiscountID}}">
                                                {{discount.Value}}
                                            </option>
                                        </select>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div style="float: right">
                            <a class="btn btn-primary" ng-click="addToSaleDetail()" >Thêm vào khuyến mãi</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--End searching-->

        <!--Start discount-->
        <div class="row" ng-init="loadDiscount()">
            <div class="col-md-4 col-sm-12 col-xs-12">
                <div class="x_panel title">
                    <div class="x_title">
                        <h4>Các mức giảm giá</h4>
                    </div>
                    <div class="x_content">
                        <div class="row">
                            <table class="table table-striped responsive-utilities jambo_table bulk_action">
                                <thead>
                                    <tr class="headings">
                                        <th class="column-title">ID </th>
                                        <th class="column-title">Phần trăm </th>
                                        <th class="column-title no-link last">
                                            <span class="nobr">Action</span>
                                        </th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr class="even pointer" ng-repeat="discount in Discounts">
                                        <td>{{$index + 1}}</td>
                                        <td>{{discount.Value}}</td>
                                        <td class="last">
                                            <a href="" data-toggle="modal"
                                               data-target="myModal" ng-click="getDiscount($index)">Cập nhật</a> / 
                                            <a href="" ng-click="removeDiscount(discount.DiscountID)">Xoá</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div style="float: left">
                            <a class="btn btn-primary" href="#" data-toggle="modal" data-target="#addNewSale">Thêm giá trị discount</a>
                            <div class="modal fade" id="addNewSale" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                <div class="modal-dialog" role="document">
                                    <div class="model-content" style="background-color: white;">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                            <h4 class="modal-title" id="myModalLabel">Thêm giá trị</h4>
                                        </div>
                                        <div class="modal-body">
                                            <table class="table" border="0">
                                                <tr>
                                                    <td valign="middle" style="width: 30%">Giá trị % (nhập số thâp phân):</td>
                                                    <td style="width: 30%">
                                                        <input type="text" ng-model="newDiscount" name="StartDate" class="form-control dpStartDate" value="" />
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td></td>
                                                    <td>
                                                        <input data-SaleID="" class="btn btn-primary" type="button" ng-click="insertDiscount()" value="Thêm">
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Start discount update modal-->
        <div class="modal fade"
             id="myModal"
             tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Cập nhật chỉ số giảm giá</h4>
                    </div>
                    <div class="modal-body">
                        <table class="table" border="0">
                            <tr>
                                <td valign="middle" style="width: 30%">Phần % giảm (nhập số thâp phân):</td>
                                <td style="width: 30%">
                                    <input type="text" id="" class="form-control dpStartDate" ng-model="uDiscount" />
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>
                                    <a class="btn btn-primary" ng-model="uDiscountID" ng-click="updateDiscount()">
                                        Cập nhật
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!--End discount update modal-->

        <!--Start saledetail update modal-->
        <div class="modal fade"
             id="mySaleDetailModal"
             tabindex="-1" role="dialog" aria-labelledby="myModalLabel" ng-init="loadDiscountSD()">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Cập nhật chỉ số giảm giá</h4>
                    </div>
                    <div class="modal-body">
                        <table class="table" border="0">
                            <tr>
                                <td valign="middle" style="width: 30%">Tên sản phẩm:</td>
                                <td style="width: 30%">{{uProductName}}</td>
                            </tr>
                            <tr>
                                <td valign="middle" style="width: 30%">Giá gốc:</td>
                                <td style="width: 30%">{{uPrice}}</td>
                            </tr>
                            <tr>
                                <td valign="middle" style="width: 30%">Phần % giảm giá:</td>
                                <td style="width: 30%">
                                    <select class="form-control" ng-model="uDiscountID_InSD">
                                        <option ng-selected="{{uDiscountID_InSD == discount.DiscountID}}" 
                                                ng-repeat="discount in Discounts" 
                                                value="{{discount.DiscountID}}">{{discount.Value}}</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>
                                    <a class="btn btn-primary" ng-model="uSaleDetailID" ng-click="updateSaleDetail()">
                                        Cập nhật
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!--End saledetail update modal-->
    </div>
    <!--End discount-->

    
</div>

@section scripts
{
    <script src="~/Scripts/angular.min.js"></script>
    <script type="text/javascript">
        $('#CategoryID').attr("ng-change", "searching()");
        $('#CategoryID').attr("ng-model", "s_cat");

        $('#ProducerID').attr("ng-change", "searching()");
        $('#ProducerID').attr("ng-model", "s_producer");

        $(document).ready(function () {
            $('#CategoryID').val(-1);
            $('#ProducerID').val(-1);
            $('#SubCategoryID').val(-1);

            $('#CategoryID').change(function () {
                $(this).find(":selected").each(function () {
                    $.ajax({
                        type: 'GET',
                        dataType: 'json',
                        contentType: 'application/json',
                        url: '@Url.Action("AjaxGetSub", "ProductManagement")',
                        data: {
                            CatID: $(this).val()
                        },
                        success: function (result) {
                            var subID = $('#SubCategoryID');
                            subID.empty();

                            $(document.createElement('option'))
                                    .attr('value', -1)
                                    .text("-- Chọn loại con --")
                                    .appendTo(subID);

                            $(result).each(function () {
                                $(document.createElement('option'))
                                    .attr('value', this.SubCategoryID)
                                    .text(this.SubCategoryName)
                                    .appendTo(subID);
                            });
                        }
                    });
                });
            });   
        });

        var appSaleDetail = angular.module("appSaleDetail", []);
        var saleID = $('#SaleID').val();
        
        appSaleDetail.filter('roundup', function () {
            return function (value) {
                return Math.ceil(value);
            };
        })

        appSaleDetail.controller("ctrlSaleDetail", function ($scope, $http) {
            
            $scope.loadSaleDetail = function () {
                $http({
                    method: 'GET',
                    url: "/Admin/Promotion/LoadSaleDetail",
                    params: {
                        SaleID: saleID,
                        page: 1
                    }
                }).success(function (response) {
                    $scope.SaleDetails = response.Items;
                    $scope.currentPage = response.CurrentPage;
                    $scope.totalItems = response.TotalItems;
                   
                    //create page number
                    var pageNumber = [];
                    for (var i = 1; i <= response.TotalPages; i++) {
                        pageNumber.push(i);
                    }

                    $scope.totalPages = pageNumber;
                });
            }

            

            var catBefore;

            $scope.searching = function () {

                if ($scope.s_cat == -1 || typeof $scope.s_cat == 'undefined') {
                    $scope.s_subCat = -1;
                }

                if (catBefore != $scope.s_cat) {
                    $scope.s_subCat = -1;
                }

                if (($scope.s_proName != "" && typeof $scope.s_proName != 'undefined') ||
                    ($scope.s_cat != -1 && typeof $scope.s_cat != 'undefined') ||
                    ($scope.s_subCat != -1 && typeof $scope.s_subCat != 'undefined') ||
                    ($scope.s_producer != -1 && typeof $scope.s_producer != 'undefined')) {
                        
                    $http({
                        method: 'POST',
                        url: "/Admin/Promotion/Searching",
                        params: {
                            Keyword: $scope.s_proName,
                            CategoryID: $scope.s_cat,
                            SubCategoryID: $scope.s_subCat,
                            ProducerID: $scope.s_producer
                        }
                    }).success(function (response) {
                        $scope.products = response;
                    });
                }

                if ($scope.s_proName == "") {
                   
                    $scope.products = null;
                }
                catBefore = $scope.s_cat;
            }

            $scope.addToSaleDetail = function () {
                
                $scope.proIDArray = [];
                $scope.discountIDArray = [];
                angular.forEach($scope.products, function (pro) {
                    if (!!pro.selected) {
                        $scope.proIDArray.push(pro.ProductID);
                        $scope.discountIDArray.push(pro.insDiscountID);
                        //console.log(pro.insDiscountID);
                    }
                })

                if (saleID > 0) {
                    $http({
                        method: 'POST',
                        url: "/Admin/Promotion/InsertProductToSD",
                        params: {
                            saleID: saleID,
                            proIDArray: $scope.proIDArray,
                            discountIDArray: $scope.discountIDArray
                        }
                    }).success(function (response) {
                        $scope.products = null;
                        $scope.loadSaleDetail();
                    });
                }
            }

            $scope.loadDiscount = function () {
                $http({
                    method: 'GET',
                    url: "/Admin/Promotion/LoadDiscount",
                }).success(function (response) {
                    $scope.Discounts = response;

                });
            }

            $scope.insertDiscount = function () {
                $http({
                    method: 'POST',
                    url: "/Admin/Promotion/CreateDiscount",
                    params: {
                        Discount: $scope.newDiscount,
                    }
                }).success(function () {
                    $('#addNewSale').modal('hide');
                    $scope.loadDiscount();
                    $scope.newDiscount = null;
                });
            }

            $scope.removeDiscount = function (DiscountID) {
                $http({
                    method: 'POST',
                    url: "/Admin/Promotion/RemoveDiscount",
                    params: {
                        discountID: DiscountID,
                    }
                }).success(function () {
                    $scope.loadDiscount();
                });
            }

            $scope.getDiscount = function (index) {
                $scope.uDiscount = $scope.Discounts[index]._Discount;
                $scope.uDiscountID = $scope.Discounts[index].DiscountID;
                
                $('#myModal').modal('show');
            }

            $scope.updateDiscount = function () {
                $http({
                    method: 'POST',
                    url: "/Admin/Promotion/UpdateDiscount",
                    params: {
                        DiscountID: $scope.uDiscountID,
                        _Discount: $scope.uDiscount
                    }
                }).success(function () {
                    $('#myModal').modal('hide');
                    $scope.loadSaleDetail();
                    $scope.loadDiscount();
                });
            }
            
            $scope.getSaleDetail = function (index) {
                $scope.uProductName = $scope.SaleDetails[index].ProductName;
                $scope.uPrice = $scope.SaleDetails[index].Price;
                $scope.uSaleDetailID = $scope.SaleDetails[index].SaleDetailID;
                $scope.uDiscountID_InSD = $scope.SaleDetails[index].DiscountID;

                $('#mySaleDetailModal').modal('show');
            }
                
            $scope.updateSaleDetail = function () {
                $http({
                    method: 'POST',
                    url: "/Admin/Promotion/UpdateSaleDetail",
                    params: {
                        SaleDetailID: $scope.uSaleDetailID,
                        DiscountID: $scope.uDiscountID_InSD
                    }
                }).success(function () {
                    $('#mySaleDetailModal').modal('hide');
                    $scope.loadSaleDetail();
                });
            }

            $scope.removeSaleDetail = function (SaleDetailID) {
                $http({
                    method: 'POST',
                    url: "/Admin/Promotion/RemoveSaleDetail",
                    params: {
                        SaleDetailID: SaleDetailID
                    }
                }).success(function () {
                    $scope.loadSaleDetail();
                });
            }


        });
    </script>
}
