﻿@model PetaPoco.Page<Business.ViewModels.ProductViewModels>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    bool isSaled = false;
    int count = 0;
    int countX3 = 0;
    Business.ViewModels.ProductViewModels element;
}

<div class="main-container col2-left-layout">
    @*Start Link Previous*@
    <div class="breadcrumbs">
        <div class="container">
            <ul>
                <li class="home">
                    <a href="@Url.Action("Index", "Home")" title="Về trang chủ">Trang chủ</a>
                    <span></span>
                </li>

                @*Start Category Name*@
                <li class="category3">
                    <strong>Kết quả tìm từ khoá: '@ViewBag.keyword'</strong>
                </li>
                @*End Category Name*@
            </ul>
        </div>
    </div>
    @*End Link Previous*@

    <div class="container">
        <div class="main">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12">
                    <p class="category-image"></p>
                </div>

                @*Start Left Menu*@
                @Html.Action("_LeftMenuPartial", "Menu")
                @*End Left Menu*@

                <div class="col-main col-xs-12 col-sm-9">
                    <div class="category-products">
                        <div class="toolbar">
                            <div class="pager">
                                @*Start Sort Product Information*@
                                <div class="sort-by hidden-xs">
                                    <label></label>
                                </div>
                                @*End Sort Product Information*@
                            </div>

                            <div class="sorter">
                                @*Start Show Number of Products per Page*@
                                <div class="limiter hidden-xs">
                                    <label></label>
                                    <div class="limiter-inner">
                                    </div>
                                </div>
                                @*End Show Number of Products per Page*@

                                @*Start Page List*@
                                <div class="pages">
                                    <ol>
                                        @if (Model.CurrentPage > 1)
                                        {
                                            <li>
                                                <a class="previous i-previous" href="@Url.Action("Result", "CatalogSearch", new { keyword = ViewBag.keyword, page = Model.CurrentPage - 1 })"></a>
                                            </li>
                                        }

                                        @*Start Code Here*@
                                        @for (int i = 1; i <= Model.TotalPages; i++)
                                        {
                                            if (i == Model.CurrentPage)
                                            {
                                                <li class="current">@i</li>
                                            }
                                            else
                                            {
                                                <li>
                                                    <a href="@Url.Action("Result", "CatalogSearch", new { keyword = ViewBag.keyword, page = i })">
                                                        @i
                                                    </a>
                                                </li>
                                            }
                                        }
                                        @*End Code*@

                                        @if (Model.CurrentPage < Model.TotalPages)
                                        {
                                            <li>
                                                <a class="next i-next" href="@Url.Action("Result", "CatalogSearch", new { keyword = ViewBag.keyword, page = Model.CurrentPage + 1 })"></a>
                                            </li>
                                        }
                                    </ol>
                                </div>
                                @*End Page List*@
                            </div>
                        </div>

                        @*Start Product List*@
                        <div class="product-grid-container">
                            @while (count < Model.Items.Count)
                            {
                                countX3 = count + 3 <= Model.Items.Count ? count + 3 : Model.Items.Count;

                                <ul class="products-grid row">
                                    @*Start An Item*@
                                    @for (var i = count; i < countX3; i++)
                                    {
                                        element = Model.Items[i];
                                        isSaled = element.SalePrice == 0 ? false : true;

                                        <li class="ma-item_slider col-md-4 col-sm-4 col-sms-12 col-smb-12 item">
                                            <div class="item-inner">
                                                <div class="images-container">
                                                    @*Start Product Image*@
                                                    <a href="@Url.Action("Detail", "Product", new { id = element.ProductID, name = element.RouteName })" class="product-image">
                                                        <img src="@(element.Images.Count > 0 ? element.Images[0].Link : "/images/no-image/268.jpg")" id="product-collection-image-@(i + 1)" />
                                                    </a>
                                                    @*End Product Image*@

                                                    @*Start Button*@
                                                    <div class="actions">
                                                        <ul class="add-to-links">
                                                            <li>
                                                                <a class="link-wishlist">
                                                                    <em class="tooltip">Yêu thích</em>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    @*End Button*@

                                                    @*Start Product Price*@
                                                    <div class="price-box @(!isSaled ? "box-regular" : "box-special")">
                                                        @if (isSaled)
                                                        {
                                                            <p class="special-price">
                                                                <span class="price">@element.SalePrice.ToString("##,#")</span>
                                                            </p>
                                                        }

                                                        <p class="@(!isSaled ? "regular-price" : "old-price")">
                                                            <span class="price">@element.Price.ToString("##,#")</span>
                                                        </p>
                                                    </div>
                                                    @*End Product Price*@
                                                </div>

                                                @*Start Product Main Information*@
                                                <div class="des-container">
                                                    <h2 class="product-name">
                                                        <a href="@Url.Action("Detail", "Product", new { id = element.ProductID, name = element.RouteName })">
                                                            @element.ProductName
                                                        </a>
                                                    </h2>

                                                    <div class="ma-desc"></div>

                                                    <button type="button" title="Add to Cart" class="button btn-cart">
                                                        <span><span>Add to Cart</span></span>
                                                    </button>
                                                </div>
                                                @*End Product Main Information*@
                                            </div>
                                        </li>
                                    }
                                    @*End An Item*@
                                </ul>

                                count += 3;
                            }
                        </div>
                        @*End Product List*@

                        @*Start Paging*@
                        @if (Model.TotalPages > 1)
                        {
                            <div class="toolbar-bottom">
                                <div class="toolbar">
                                    <ul class="paging">
                                        @if (Model.CurrentPage > 1)
                                        {
                                            <li>
                                                <a class="prev" href="@Url.Action("Result", "CatalogSearch", new {  keyword = ViewBag.keyword, page = Model.CurrentPage - 1 })"></a>
                                            </li>
                                        }

                                        @for (int i = 1; i <= Model.TotalPages; i++)
                                        {
                                            <li>
                                                @if (i == Model.CurrentPage)
                                                {
                                                    <a class="current">@i</a>
                                                }
                                                else
                                                {
                                                    <a href="@Url.Action("Result", "CatalogSearch", new { keyword = ViewBag.keyword, page = i })">@i</a>
                                                }
                                            </li>
                                        }

                                        @if (Model.CurrentPage < Model.TotalPages)
                                        {
                                            <li>
                                                <a class="next" href="@Url.Action("Result", "CatalogSearch", new { keyword = ViewBag.keyword, page = Model.CurrentPage + 1 })"></a>
                                            </li>
                                        }
                                    </ul>
                                </div>
                            </div>
                        }
                        @*End Paging*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts
{
    <script type="text/javascript">
        $("#price_range").ionRangeSlider({
            type: "double",
            grid: true,
            min: 0,
            max: 100000000,
            from: 0,
            to: 100000000,
            onFinish: function (data) {
                $('#price_from').val(data.from);
                $('#price_to').val(data.to);
                console.log($('#price_from').val());
                console.log($('#price_to').val());
            }
        });

        $('#CategoryID').change(function () {
            $(this).find(":selected").each(function () {
                $.ajax({
                    type: 'GET',
                    dataType: 'json',
                    contentType: 'application/json',
                    url: '@Url.Action("AjaxGetSub")',
                    data: {
                        CatID: $(this).val()
                    },
                    success: function (result) {
                        var subID = $('#SubCategoryID');
                        subID.empty();

                        $(document.createElement('option'))
                                .attr('value', '-1')
                                .text('-- Chọn loại con --')
                                .appendTo(subID);

                        $(result).each(function () {
                            $(document.createElement('option'))
                                .attr('value', this.SubCategoryID)
                                .text(this.SubCategoryName)
                                .appendTo(subID);
                        });
                    }
                });
            });
        });
    </script>
}