﻿
@{
    Layout = null;
}

<div class="link-container">
    <span class="icon-links">Account</span>
    <ul class="links">
        <li class="first"><a href="http://demo4plazathemes.com/19/ma_flaton/index.php/customer/account/" title="My Account">My Account</a></li>
        <li><a href="http://demo4plazathemes.com/19/ma_flaton/index.php/wishlist/" title="My Wishlist">My Wishlist</a></li>
        <li><a href="http://demo4plazathemes.com/19/ma_flaton/index.php/checkout/" title="Checkout" class="top-link-checkout">Checkout</a></li>
        <li class="last"><a href="javascript:void(0);" title="Log In" class="a-login-link">Log In</a></li>
    </ul>
</div>
