﻿@model IEnumerable<Business.ViewModels.SubCategoryViewModels>
@{
    Layout = null;
}


<div class="row">
    <table class="table table-striped">
        <thead>
            <tr class="headings">
                <th class="column-title">ID </th>
                <th class="column-title">Tên loại con </th>
                <th class="column-title">Tên loại </th>

                <th class="column-title no-link last">
                    <span class="nobr">Action</span>
                </th>
                <th class="bulk-actions" colspan="7">
                    <a class="antoo" style="color:#fff; font-weight:500;">Bulk Actions ( <span class="action-cnt"> </span> ) <i class="fa fa-chevron-down"></i></a>
                </th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr class="even pointer">
                    <td>@item.SubCategoryID</td>
                    <td id="@String.Format("lbSubCategoryName{0}", item.SubCategoryID)">@item.SubCategoryName</td>
                    <td id="@String.Format("lbCategoryName{0}", item.SubCategoryID)">@item.CategoryName</td>
                    <td class="last">
                        <a style="cursor:pointer" data-toggle="modal" data-target="@String.Format("#DetailSubCategoryID{0}", item.SubCategoryID)">Chi tiết</a>

                        <div class="modal fade" id="@String.Format("DetailSubCategoryID{0}", item.SubCategoryID)" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title" id="myModalLabel">Loại con</h4>
                                    </div>
                                    <div class="modal-body">
                                        <table class="table" border="0">
                                            <tr>
                                                <td valign="middle" style="width: 30%">Tên loại con:</td>
                                                <td style="width: 30%">
                                                    <input type="text" id="@String.Format("txtSubCategoryname{0}", item.SubCategoryID)" name="" class="form-control" value="@item.SubCategoryName" />
                                                </td>
                                            </tr>
                                            <tr>
                                                <td valign="middle" style="width: 30%">Loại: </td>
                                                <td style="width: 30%"  id="@String.Format("itemCatOfSubID{0}", @item.SubCategoryID)">
                                                    @Html.Action("CategoryList", "List", new { CatID = item.CategoryID})
                                                </td>
                                            </tr>
                                            <tr>
                                                <td></td>
                                                <td>
                                                    <a id="@String.Format("btnUpdateSubCategory{0}", item.SubCategoryID)" data-SubCategoryID="@item.SubCategoryID" class="btn btn-default">
                                                        Cập nhật
                                                    </a>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        /
                        <a style="cursor:pointer" id="@String.Format("DelSubCategoryID{0}", item.SubCategoryID)" data-SubCategoryID="@item.SubCategoryID">Xoá</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div class="row">
    <input class="form-control text-box single-line" id="NewSubCategoryName" type="text" placeholder="Tên loại con mới" value="">
    <br />
    <div id = "CatOfSubID">
        @Html.Action("CategoryList", "List", new { CatID = -1 })
    </div>
    <br />
    <button type="button" id="btnAddSubCategory" class="btn btn-success">Thêm mới</button>
</div>