﻿@model PetaPoco.Page<Business.ViewModels.ProductViewModels>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    bool isSaled = false;
    int count = 0;
    int countX3 = 0;
    Business.ViewModels.ProductViewModels element;
}

<div class="main-container col2-left-layout">
    @*Start Link Previous*@
    <div class="breadcrumbs">
        <div class="container">
            <ul>
                <li class="home">
                    <a href="@Url.Action("Index", "Home" )">Trang chủ</a>
                    <span></span>
                </li>

                <li class="category">
                    <a href="@Url.Action("Cat", "Category" , new { id = ViewBag.Category.CategoryID, name = ViewBag.Category.RouteName })">
                        @(ViewBag.Category.CategoryName)
                    </a>
                    <span></span>
                </li>


                <li class="subCategory">
                    <strong>@(ViewBag.SubCategoryName)</strong>
                </li>
            </ul>
        </div>
    </div>
    @*End Link Previous*@

    <div class="container">
        <div class="main">
            <div class="row">
                @*Start Left Menu*@
                @Html.Action("_LeftMenuPartial", "Menu")
                @*End Left Menu*@

                <div class="col-main col-xs-12 col-sm-9">
                    @if (Model.TotalItems > 0)
                    {
                        <div class="category-products">
                            <div class="toolbar">
                                <div class="pager">
                                    <div class="sort-by hidden-xs">
                                        <label></label>
                                    </div>
                                </div>

                                <div class="sorter">
                                    <div class="limiter hidden-xs">
                                        <label></label>

                                        <div class="limiter-inner">

                                        </div>
                                    </div>

                                    @if (Model.TotalPages > 1)
                                    {
                                        <div class="pages">
                                            <ol>
                                                @if (Model.CurrentPage > 1)
                                                {
                                                    <li>
                                                        <a class="previous i-previous" href="@Url.Action("Sub", "Category" , new { name = ViewBag.Category.RouteName, id = ViewBag.Category.CategoryID, subname = ViewBag.SubCategoryRouteName, subId = ViewBag.SubCategoryID, page = Model.CurrentPage - 1 })"></a>
                                                    </li>
                                                }

                                                @*Start Code Here*@
                                                @for (int i = 1; i <= Model.TotalPages; i++)
                                                {
                                                    if (i != Model.CurrentPage)
                                                    {
                                                        <li>
                                                            <a href="@Url.Action("Sub", "Category" , new { name = ViewBag.Category.RouteName, id = ViewBag.Category.CategoryID, subname = ViewBag.SubCategoryRouteName, subId = ViewBag.SubCategoryID, page = i })">
                                                                @i
                                                            </a>
                                                        </li>
                                                    }
                                                    else
                                                    {
                                                        <li class="current">@i</li>
                                                    }
                                                }
                                                @*End Code*@

                                                @if (Model.CurrentPage < Model.TotalPages)
                                                {
                                                    <li>
                                                        <a class="next i-next" href="@Url.Action("Sub", "Category" , new { name = ViewBag.Category.RouteName, id = ViewBag.Category.CategoryID, subname = ViewBag.SubCategoryRouteName, subId = ViewBag.SubCategoryID, page = Model.CurrentPage + 1 })"></a>
                                                    </li>
                                                }
                                            </ol>
                                        </div>
                                    }
                                </div>
                            </div>

                            @*Start Product List*@
                            <div class="product-grid-container">
                                @while (count < Model.Items.Count)
                                {
                                    countX3 = count + 3 <= Model.Items.Count ? count + 3 : Model.Items.Count;

                                    <ul class="products-grid row">
                                        @*Start An Item*@
                                        @for (var i = count; i < countX3; i++)
                                        {

                                            element = Model.Items[i];
                                            isSaled = element.SalePrice == 0 ? false : true;

                                            <li class="ma-item_slider col-md-4 col-sm-4 col-sms-12 col-smb-12 item">
                                                <div class="item-inner">
                                                    <div class="images-container">
                                                        @*Start Product Image*@
                                                        <a href="@Url.Action("Detail", "Product" , new { id  =element.ProductID, name = element.RouteName })" class="product-image">
                                                            @if (element.Quantity == 0)
                                                            {
                                                                <img src="~/images/notification/soldout.png" class="soldOut" />
                                                            }
                                                            <img src="@(element.Images.Count > 0 ? element.Images[0].Link : "/images/no-image/268.jpg")" id="product-collection-image-@(i + 1)" />
                                                        </a>
                                                        @*End Product Image*@

                                                        @*Start Button*@
                                                        <div class="actions">
                                                            <ul class="add-to-links">
                                                                <li>
                                                                    <a class="link-wishlist">
                                                                        <em class="tooltip">Yêu thích</em>
                                                                    </a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                        @*End Button*@

                                                        @*Start Product Price*@
                                                        <div class="price-box @(!isSaled ? "box-regular" : "box-special" )">
                                                            @if (isSaled)
                                                            {
                                                                <p class="special-price">
                                                                    <span class="price">@element.SalePrice.ToString("##,#")</span>
                                                                </p>
                                                            }

                                                            <p class="@(!isSaled ? "regular-price" : "old-price" )">
                                                                <span class="price">@element.Price.ToString("##,#")</span>
                                                            </p>
                                                        </div>
                                                        @*End Product Price*@
                                                    </div>

                                                    @*Start Product Main Information*@
                                                    <div class="des-container">
                                                        <h2 class="product-name">
                                                            <a href="@Url.Action("Detail", "Product" , new { id=element.ProductID, name=element.RouteName })">
                                                                @element.ProductName
                                                            </a>
                                                        </h2>

                                                        <div class="ma-desc"></div>

                                                        <button type="button" class="button btn-cart" data-proId="@element.ProductID">
                                                            <span><span>Thêm vào giỏ hàng</span></span>
                                                        </button>
                                                    </div>
                                                    @*End Product Main Information*@
                                                </div>
                                            </li>
                                        }
                                        @*End An Item*@
                                    </ul>

                                    count += 3;
                                }
                            </div>
                            @*End Product List*@

                            @*Start Paging*@
                            @if (Model.TotalPages > 1)
                            {
                                <div class="toolbar-bottom">
                                    <div class="toolbar">
                                        <ul class="paging">
                                            @if (Model.CurrentPage > 1)
                                            {
                                                <li>
                                                    <a class="prev" href="@Url.Action("Sub", "Category" , new { name = ViewBag.Category.RouteName, id = ViewBag.Category.CategoryID, subname = ViewBag.SubCategoryRouteName, subId = ViewBag.SubCategoryID, page = Model.CurrentPage - 1 })"></a>
                                                </li>
                                            }

                                            @for (int i = 1; i <= Model.TotalPages; i++)
                                            {
                                                <li>
                                                    @if (i != Model.CurrentPage)
                                                    {
                                                        <a href="@Url.Action("Sub", "Category" , new { name = ViewBag.Category.RouteName, id = ViewBag.Category.CategoryID, subname = ViewBag.SubCategoryRouteName, subId = ViewBag.SubCategoryID, page = i })">@i</a>
                                                    }
                                                    else
                                                    {
                                                        <a class="current">@i</a>
                                                    }
                                                </li>
                                            }

                                            @if (Model.CurrentPage < Model.TotalPages)
                                            {
                                                <li>
                                                    <a class="next" href="@Url.Action("Sub", "Category" , new { name = ViewBag.Category.RouteName, id = ViewBag.Category.CategoryID, subname = ViewBag.SubCategoryRouteName, subId = ViewBag.SubCategoryID, page = Model.CurrentPage + 1 })"></a>
                                                </li>
                                            }
                                        </ul>
                                    </div>
                                </div>
                            }
                            @*End Paging*@
                        </div>
                    }
                    else
                    {
                        <p class="no-item">
                            Hiện chưa có sản phẩm nào.
                        </p>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
