﻿﻿@{
    Layout = null;
}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>R. R Shop</title>
    <meta name="description" content="Default Description" />
    <meta name="keywords" content="Raid Raptor Shop" />
    <meta name="robots" content="INDEX,FOLLOW" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="~/images/logo/logo.png" type="image/x-icon" />
    <link rel="shortcut icon" href="~/images/logo/logo.png" type="image/x-icon" />

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/error_page.css" rel="stylesheet" />
</head>
<body class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="page-not-found">
            <img class="img-responsive" src="~/images/logo/img404.jpg" />
            <div class="page-title">
                <h1>Trang bạn yêu cầu không tồn tại.</h1>
            </div>
            <div class="page-content">
                <div class="des-container">
                    <h1 class="back-home"><a href="@Url.Action("Index", "Home")">Quay về trang chủ</a></h1>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
