﻿@model RRShop.Models.CartShopViewModels

@{
    Layout = null;
}

<div class="top-cart-wrapper">
    <div class="top-cart-contain">
        <div id="mini_cart_block">
            <div class="block-cart mini_cart_ajax">
                <div class="block-cart">
                    <div class="top-cart-title">
                        <span class="count-item">@Model.CartTotal</span>
                        <a href="@Url.Action("Index", "ShoppingCart")">
                            <span class="title-cart">Giỏ hàng</span>
                        </a>
                    </div>

                    <div class="top-cart-content">
                        @if (Model.CartTotal == 0)
                        {
                            <p class="empty">Bạn không có sản phẩm nào trong giỏ hàng.</p>
                        }

                        <div class="top-subtotal">Tổng tiền: <span class="price"><span>@(Model.Total > 0 ? Model.Total.ToString("##,#") : "0")</span> VNĐ</span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
