﻿@model RRShop.Models.VerifyAddressViewModels

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles {
    <link href="~/Content/semantic/dimmer.min.css" rel="stylesheet" />
    <link href="~/Content/semantic/accordion.min.css" rel="stylesheet" />
    <link href="~/Content/semantic/list.min.css" rel="stylesheet" />
    <link href="~/Content/semantic/modal.min.css" rel="stylesheet" />
    <link href="~/Content/semantic/button.min.css" rel="stylesheet" />
    <link href="~/Content/semantic/form.min.css" rel="stylesheet" />
    <link href="~/Content/semantic/checkbox.min.css" rel="stylesheet" />
    <link href="~/Content/semantic/step.min.css" rel="stylesheet" type="text/css" media="all" />
}

<div class="ui modal">
    <div class="content">
        <p>Bạn có chắc muốn đặt hàng hay không?</p>
    </div>
    <div class="actions">
        <div class="ui positive labeled icon button">Đồng ý</div>
        <div class="ui black right deny button">Hủy</div>
    </div>
</div>

<div class="main-container col1-layout" id="checkout">
    <div class="container">
        <div class="main">
            <div class="col-main">
                <div class="ui ordered top steps">
                    <div class="completed step">
                        <div class="content">
                            <div class="title">Đăng nhập</div>
                            <br />
                            <div class="description">Đăng nhập vào hệ thống</div>
                        </div>
                    </div>

                    <div class="active step" tag="#segment_2">
                        <div class="content">
                            <div class="title">Xác nhận địa chỉ</div>
                            <br />
                            <div class="description">Xác nhận lại địa chỉ giao hàng</div>
                        </div>
                    </div>

                    <div class="disabled step" tag="#segment_3">
                        <div class="content">
                            <div class="title">Xác nhận đơn đặt hàng</div>
                            <br />
                            <div class="description">Kiểm tra lại thông tin giao hàng</div>
                        </div>
                    </div>

                    <div class="disabled step" tag="#segment_4">
                        <div class="content">
                            <div class="title">Hoàn tất</div>
                            <br />
                            <div class="description">Hoàn tất việc thanh toán</div>
                        </div>
                    </div>
                </div>

                <div class="ui segment">
                    <div id="segment_2">
                        <div class="ui checkbox radio">
                            <input name="address" type="radio" id="oldAddress" tag="#txtOldAddress">
                            <label>Gửi đến địa chỉ cũ</label>
                        </div>

                        <input name="Address" type="text" disabled class="form-control" value="@ViewBag.User.Address" id="txtOldAddress">

                        <br />

                        <div class="ui checkbox radio">
                            <input name="address" type="radio" id="newAddress" tag="#txtNewAddress">
                            <label>Thay đổi địa chỉ mới</label>
                        </div>

                        @Html.EditorFor(m => m.Address, new { htmlAttributes = new { @class = "form-control", @style = "display: none;", @id = "txtNewAddress" } })

                        @Html.ValidationMessageFor(m => m.Address, "", new { @class = "text-danger", @id = "error" })
                    </div>

                    <div class="confirm-infor ui form" id="segment_3" style="display: none;">
                        <h1 class="ui dividing header">Thông tin giao hàng</h1>

                        <div class="confirm-content">
                            <div class="fields">
                                <label>Người mua:&emsp;</label>
                                <span>@ViewBag.User.Name</span>
                            </div>

                            <div class="fields">
                                <label>Email:&emsp;</label>
                                <span>@ViewBag.User.Email</span>
                            </div>

                            <div class="fields">
                                <label>Số điện thoại:&emsp;</label>
                                <span>@ViewBag.User.PhoneNumber</span>
                            </div>

                            <div class="fields">
                                <label>Địa chỉ:&emsp;</label>
                                <span>@ViewBag.User.Address</span>
                            </div>

                            <div class="fields">
                                <label>Địa chỉ nhận hàng:&emsp;</label>
                                <span id="shipAddress"></span>
                            </div>

                            <div class="fields">
                                <label>Số lượng sản phẩm:&emsp;</label>
                                <span id="checkoutQuantity">@(ViewBag.CartShop.CartTotal > 0 ? ViewBag.CartShop.CartTotal : 0)</span>
                            </div>

                            @if (ViewBag.InvalidCart > 0)
                            {
                                <div class="field">
                                    <div class="ui styled accordion">
                                        <div class="active title" style="background-color: red; color: white;">
                                            Có @ViewBag.InvalidCart sản phẩm bị thay đổi, nhấn vào đây để xem
                                        </div>
                                        <div class="content bulleted list">
                                            @foreach (var item in ViewBag.CartShop.CartItems)
                                            {
                                                var remain = item.RealQuantity - item.Quantity;

                                                if (remain < 0)
                                                {
                                                    <div class="item">
                                                        @item.ProductName @(item.RealQuantity == 0 ? "đã hết hàng" : "giảm đi " + (-1) * remain + " sản phẩm")
                                                    </div>
                                                }
                                            }
                                        </div>
                                    </div>
                                </div>
                            }

                            <div class="fields">
                                <label>Tổng tiền:&emsp;</label>
                                <span id="checkoutTotal">@ViewBag.CartShop.Total.ToString("##,#") VNĐ</span>
                            </div>

                            <div class="field">
                                <h3>Nhấn nút đặt hàng để tiến hành đặt mua</h3>
                            </div>
                        </div>
                    </div>

                    <div id="segment_4" style="display: none; text-align: center;">
                        <p id="message" style="font-size: 30px;"></p>
                    </div>

                    <hr />

                    <div id="segmentButton">
                        @Html.HiddenFor(m => m.Address)

                        <button id="finish" type="button" class="ui red button right" style="display: none;" tag="#segment_3">Đặt hàng</button>

                        <button id="previous" class="ui blue button left" style="display: none;" tag="#segment_3">Quay lại</button>

                        <button id="next" class="ui green button right" tag="#segment_2">Tiếp tục</button>

                        <a id="back" href="@Url.Action("Index", "Home")" class="ui teal button" style="display: none;" tag="#segment_4">Quay về trang chủ</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/Scripts/myJS/semantic/dimmer.min.js"></script>
    <script src="~/Scripts/myJS/semantic/accordion.min.js"></script>
    <script src="~/Scripts/myJS/semantic/form.min.js"></script>
    <script src="~/Scripts/myJS/semantic/checkbox.min.js"></script>
    <script src="~/Scripts/myJS/semantic/modal.min.js"></script>
    <script src="~/Scripts/myJS/checkout.js"></script>
}
