﻿@model IEnumerable<Business.ViewModels.CategoryViewModels>

@{
    Layout = null;
}

<div class="catthumb">
    <div class="modul-title2">
        <h2>
            Danh mục
        </h2>
    </div>

    <ul id="catthumb" catNum="@(Model.Count() + 1)">
        @foreach (var element in Model)
        {
            <li class="item">
                <div class="box-cate">
                    <div class="image">
                        <a href="@Url.Action("Cat", "Category", new { id = element.CategoryID, name = element.RouteName })">
                            <span class="icon"><img src="@element.Image" /></span>
                        </a>
                    </div>

                    <h3 class="name-cate">@element.CategoryName</h3>
                </div>
            </li>
        }

        <li class="item">
            <div class="box-cate">
                <div class="image">
                    <a href="@Url.Action("Index", "Sale")">
                        <span class="icon"><img src="~/images/category/Sale.png" /></span>
                    </a>
                </div>

                <h3 class="name-cate">Khuyến mãi</h3>
            </div>
        </li>
    </ul>
</div>