﻿@model List<Business.ViewModels.ProductViewModels>

@{
    Layout = null;
    bool isSale = false;
}

<div class="ma-mostviewedproductslider-container">
    <div class="container">
        <div class="ma-mostviewedproductslider-title modul-title1"><h2>Được xem nhiều nhất</h2></div>
        <div class="owl-container">
            <div class="owl">
                @foreach (var element in Model)
                {
                    isSale = element.SalePrice == 0 ? false : true;

                    <div class='mostviewedproductslider-item item'>
                        <div class="item-inner">
                            <div class="images-container">
                                <a href="@Url.Action("Detail", "Product", new { id = element.ProductID, name = element.RouteName })" class="product-image">
                                    @if (element.Quantity == 0)
                                    {
                                        <img src="~/images/notification/soldout.png" class="soldOut" />
                                    }
                                    <img src="@(element.Images.Count > 0 ? element.Images[0].Link : "/images/no-image/268.jpg")" />
                                </a>

                                <div class="actions">
                                    <ul class="add-to-links">
                                        <li>
                                            <a class="link-wishlist">
                                                <em class="tooltip">Yêu thích</em>
                                            </a>
                                        </li>

                                        @*<li>
                                                <span class="separator">|</span>

                                                <a href="http://demo4plazathemes.com/19/ma_flaton/index.php/catalog/product_compare/add/product/15/uenc/aHR0cDovL2RlbW80cGxhemF0aGVtZXMuY29tLzE5L21hX2ZsYXRvbi9pbmRleC5waHAv/form_key/mdZfgJRbAoMhqUUv/" class="link-compare">
                                                    <em class="tooltip">compare</em>Add to Compare
                                                </a>
                                            </li>*@
                                    </ul>
                                </div>

                                <div class="price-box @(!isSale ? "box-regular" : "box-special")">
                                    @if (isSale)
                                    {
                                        <p class="special-price">
                                            <span class="price">@element.SalePrice.ToString("##,#")</span>
                                        </p>
                                    }

                                    <p class="@(!isSale ? "regular-price" : "old-price")">
                                        <span class="price">@element.Price.ToString("##,#")</span>
                                    </p>
                                </div>
                            </div>

                            <div class="des-container">
                                <h2 class="product-name">
                                    <a href="@Url.Action("Detail", "Product", new { id = element.ProductID, name = element.RouteName })">
                                        @element.ProductName
                                    </a>
                                </h2>

                                @*<div class="ratings">
                                        <div class="rating-box">
                                            <div class="rating" style="width:60%"></div>
                                        </div>

                                        <span class="amount"><a href="#" onclick="var t = opener ? opener.window : window; t.location.href='http://demo4plazathemes.com/19/ma_flaton/index.php/review/product/list/id/15/'; return false;">1 Review(s)</a></span>
                                    </div>*@

                                <button type="button" class="button btn-cart" data-proId="@element.ProductID" @(element.Quantity == 0 ? "disabled" : "")>
                                    <span><span>Thêm vào giỏ hàng</span></span>
                                </button>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
