﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div ng-app="appStatistics">
    <div ng-controller="ctrlStatistics">
        <div class="page-title">
            <div class="title_left">
                <h3> Thống kê doanh thu </h3>
            </div>
        </div>

        <div class="row">
            <div class="col-md-7 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <div class="row">
                            <h4 class="col-md-4 col-sm-9 col-xs-9">Doanh số bán hàng</h4>
                            <h4 class="col-md-5 col-sm-9 col-xs-9" style="float: right" >{{today}}</h4>
                        </div>
                    </div>
                    
                    <div class="x_content">
                        <div>
                            <div class="form-group" ng-init="flag='day'">
                                <label>
                                    <input type="radio" ng-model="flag" value="day" ng-change="changeOption()"> Theo ngày &nbsp; &nbsp;
                                </label>

                                <label>
                                    <input type="radio" ng-model="flag" value="month" ng-change="changeOption()"> Theo tháng &nbsp; &nbsp;
                                </label>

                                <label>
                                    <input type="radio" ng-model="flag" value="quarter" ng-change="changeOption()"> Theo quý &nbsp; &nbsp;
                                </label>

                                <label>
                                    <input type="radio" ng-model="flag" value="year" ng-change="changeOption()"> Theo năm &nbsp; &nbsp;
                                </label>
                            </div>
                            <table class="table table-striped responsive-utilities jambo_table bulk_action">
                                <thead>
                                    <tr class="headings">
                                        <th class="column-title">{{title}} </th>
                                        <th class="column-title">Số lượng </th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr class="even pointer" ng-repeat="data in Data">
                                        <td>{{data.title}}</td>
                                        <td>{{data.value}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-5 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h4>Doanh số bán hàng từng loại</h4>
                    </div>

                    <div class="x_content">
                        <table class="table table-striped responsive-utilities jambo_table bulk_action">
                            <thead>
                                <tr class="headings">
                                    <th class="column-title">Loại </th>
                                    <th class="column-title">Số lượng </th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr class="even pointer" ng-repeat="data in DataCat">
                                    <td>{{data.CategoryName}}</td>
                                    <td>{{data.Quantity}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="col-md-7 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h4>Doanh số bán hàng từng hãng</h4>
                    </div>

                    <div class="x_content">
                        <table class="table table-striped responsive-utilities jambo_table bulk_action">
                            <thead>
                                <tr class="headings">
                                    <th class="column-title">Loại </th>
                                    <th class="column-title">Số lượng </th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr class="even pointer" ng-repeat="data in DataProducer">
                                    <td>{{data.ProducerName}}</td>
                                    <td>{{data.Quantity}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            

        </div>
    </div>
</div>


@section scripts
{
    <script src="~/Scripts/angular.min.js"></script>

    <script type="text/javascript">
       
        Date.prototype.getWeek = function () {

            // Create a copy of this date object  
            var target = new Date(this.valueOf());

            // ISO week date weeks start on monday, so correct the day number  
            var dayNr = (this.getDay() + 6) % 7;

            // Set the target to the thursday of this week so the  
            // target date is in the right year  
            target.setDate(target.getDate() - dayNr + 3);

            // ISO 8601 states that week 1 is the week with january 4th in it  
            var jan4 = new Date(target.getFullYear(), 0, 4);

            // Number of days between target date and january 4th  
            var dayDiff = (target - jan4) / 86400000;

            if (new Date(target.getFullYear(), 0, 1).getDay() < 5) {
                // Calculate week number: Week 1 (january 4th) plus the    
                // number of weeks between target date and january 4th    
                return 1 + Math.ceil(dayDiff / 7);
            }
            else {  // jan 4th is on the next week (so next week is week 1)
                return Math.ceil(dayDiff / 7);
            }
        };

        Date.prototype.geMondayOftDate = function () {
            var d = new Date(this.valueOf());
            d = new Date(d);
            var day = d.getDay(),
                diff = d.getDate() - day + (day == 0 ? -6 : 1); // adjust when day is sunday
            return new Date(d.setDate(diff));
        }

        Date.prototype.geSundayOftDate = function () {
            var d = new Date(this.valueOf());
            d = new Date(d);
            var day = d.getDay(),
                diff = d.getDate() + 7 - (day == 0? 7 : day);
            return new Date(d.setDate(diff));
        }

        var dayNow = new Date();
        var dayInWeek = ["chủ nhật", "hai", "ba", "tư", "năm", "sáu", "bảy"];
        var day = "Thứ " + dayInWeek[dayNow.getDay()] +
                    ", " + dayNow.getDate() +
                    " tháng " + (dayNow.getMonth() + 1) + 
                    " năm " + dayNow.getFullYear() +
                    ", tuần thứ " + dayNow.getWeek();
        var dayRange = [];
        var dayFrom = dayNow.geMondayOftDate();

        for (var i = 0; i < 7; i++) {
            
            dayRange[i] = new Date(dayFrom).toLocaleDateString('en-US');
            dayFrom.setDate(dayFrom.getDate() + 1);
        }
        var appStatistics = angular.module("appStatistics", []);
        appStatistics.controller("ctrlStatistics", function ($scope, $http) {
            
            $scope.today = day;
            
            $http({
                method: 'GET',
                url: "/Admin/RevenueStatistics/GetDataDate",
                params: {
                    days: dayRange,
                }
            }).success(function (response) {
                $scope.title = "Các ngày trong tuần"
                $scope.Data = response;
            });
            
            $http({
                method: 'GET',
                url: "/Admin/RevenueStatistics/GetDataProducer"
            }).success(function (response) {
                $scope.DataProducer = response;
            });

            $http({
                method: 'GET',
                url: "/Admin/RevenueStatistics/GetDataCategory"
            }).success(function (response) {
                $scope.DataCat = response;
            });
            

            $scope.changeOption = function () {
                if ($scope.flag == "day") {
                    $http({
                        method: 'GET',
                        url: "/Admin/RevenueStatistics/GetDataDate",
                        params: {
                            days: dayRange,
                        }
                    }).success(function (response) {
                        $scope.title = "Các ngày trong tuần"
                        $scope.Data = response;
                    });
                }

                if ($scope.flag == "month") {
                    $http({
                        method: 'GET',
                        url: "/Admin/RevenueStatistics/GetDataMonth",
                        params: {
                            year: dayNow.getFullYear(),
                        }
                    }).success(function (response) {
                        $scope.title = "Các tháng trong năm"
                        $scope.Data = response;
                    });
                }
                if ($scope.flag == "quarter") {
                    $http({
                        method: 'GET',
                        url: "/Admin/RevenueStatistics/GetDataQuarter",
                        params: {
                            year: dayNow.getFullYear(),
                        }
                    }).success(function (response) {
                        $scope.title = "Các quý trong năm"
                        $scope.Data = response;
                    });
                }
                if ($scope.flag == "year") {
                    $http({
                        method: 'GET',
                        url: "/Admin/RevenueStatistics/GetDataYear",
                        params: {
                            year: dayNow.getFullYear(),
                        }
                    }).success(function (response) {
                        $scope.title = "Các năm"
                        $scope.Data = response;
                    });
                }
            }

        });
    </script>
}