﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div ng-app="appInvoice">
    <div ng-controller="ctrlInvoice">
        <div class="page-title">
            <div class="title_left">
                <h3> Quản lý đơn hàng </h3>
            </div>
        </div>

        <div class="row" ng-init="loadInvoice()">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_content">
                        <table class="table table-striped responsive-utilities jambo_table bulk_action">
                            <thead>
                                <tr class="headings">
                                    <th class="column-title">ID </th>
                                    <th class="column-title">Tên KH </th>
                                    <th class="column-title">Thời gian </th>
                                    <th class="column-title">Địa chỉ giao hàng </th>
                                    <th class="column-title">Tổng tiền </th>
                                    <th class="column-title">Tình trạng </th>
                                    <th class="column-title">Cập nhật tình trạng</th>
                                    <th class="column-title no-link last">
                                        <span class="nobr">Action</span>
                                    </th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr class="even pointer" ng-repeat="invoice in Invoices">
                                    <td>{{invoice.InvoiceID}}</td>
                                    <td>{{invoice.Name}}</td>
                                    <td>{{invoice.Date}}</td>
                                    <td>{{invoice.Address}}</td>
                                    <td>{{invoice.Total}}</td>
                                    <td>{{invoice.StatusName}}</td>
                                    <td>
                                        <select class="form-control" ng-model="invoice.StatusID" ng-change="updateInvoice(invoice.InvoiceID, invoice.StatusID)">
                                            <option value="{{status.StatusID}}" ng-repeat="status in Statuses">{{status.StatusName}}</option>
                                        </select>
                                    </td>
                                    <td class="last">
                                        <a href="" ng-click="showInvoiceDetail(invoice.InvoiceID)">Xem chi tiết đơn hàng</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <ul class="pagination" style="float:right">
                            <li class="active" ng-repeat="page in totalPages">
                                <a href="#">{{page}}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <!--Start InvoiceDetail-->
        <div class="row">
            <div class="col-md-8 col-sm-12 col-xs-12">
                <div class="x_panel title">
                    <div class="x_title">
                        <h4>Chi tiết đơn hàng số {{InvOfInD}}</h4>
                    </div>

                    <div class="x_content">
                        <table class="table table-striped responsive-utilities jambo_table bulk_action">
                            <thead>
                                <tr class="headings">
                                    <th class="column-title">ID </th>
                                    <th class="column-title">Tên sản phẩm </th>
                                    <th class="column-title">Đơn giá</th>
                                    <th class="column-title">Số lượng</th>
                                    <th class="column-title">Action</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr class="even pointer" ng-repeat="InD in InvoiceDetails">
                                    <td>{{$index + 1}}</td>
                                    <td>{{InD.ProductName}}</td>
                                    <td>{{InD.Price}}</td>
                                    <td>{{InD.Quantity}}</td>
                                    <td>
                                        <a style="cursor: pointer" ng-click="removeInvoidDetail(InD.InvoiceDetailID, InD.ProductID, InD.Quantity)">Xoá</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        <!--End InvoiceDetail-->

        <!--Start Status-->
            <div class="col-md-4 col-sm-12 col-xs-12" ng-init="loadStatus()">
                <div class="x_panel title">
                    <div class="x_title">
                        <h4>Status</h4>
                    </div>
                    <div class="x_content">
                        <div class="row">
                            <table class="table table-striped responsive-utilities jambo_table bulk_action">
                                <thead>
                                    <tr class="headings">
                                        <th class="column-title">ID </th>
                                        <th class="column-title">Tiêu đề </th>
                                        <th class="column-title no-link last">
                                            <span class="nobr">Action</span>
                                        </th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr class="even pointer" ng-repeat="status in Statuses">
                                        <td>{{$index + 1}}</td>
                                        <td>{{status.StatusName}}</td>
                                        <td class="last">
                                            <a href="" data-toggle="modal"
                                               data-target="myModal" ng-click="getStatus($index)">Cập nhật</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div style="float: left">
                            <a class="btn btn-primary" href="#" data-toggle="modal" data-target="#addNewStatus">Thêm status</a>
                            <div class="modal fade" id="addNewStatus" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                <div class="modal-dialog" role="document">
                                    <div class="model-content" style="background-color: white;">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                            <h4 class="modal-title" id="myModalLabel">Thêm status</h4>
                                        </div>
                                        <div class="modal-body">
                                            <table class="table" border="0">
                                                <tr>
                                                    <td valign="middle" style="width: 30%">Tiêu đề status</td>
                                                    <td style="width: 30%">
                                                        <input type="text" ng-model="newStatusName" class="form-control dpStartDate" />
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td></td>
                                                    <td>
                                                        <input class="btn btn-primary" type="button" ng-click="insertStatus()" value="Thêm">
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--End status modal-->
        
        <!--Start status update modal-->
        <div class="modal fade"
             id="myModal"
             tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Cập nhật chỉ số giảm giá</h4>
                    </div>
                    <div class="modal-body">
                        <table class="table" border="0">
                            <tr>
                                <td valign="middle" style="width: 30%">Tiêu đề: </td>
                                <td style="width: 30%">
                                    <input type="text" class="form-control" ng-model="uStatusName" />
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>
                                    <a class="btn btn-primary" ng-model="uStatusID" ng-click="updateStatus()">
                                        Cập nhật
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!--End status update modal-->
    </div>
</div>

@section scripts
{
    <script src="~/Scripts/angular.min.js"></script>
    <script type="text/javascript">
        var appInvoice = angular.module("appInvoice", []);
        appInvoice.controller("ctrlInvoice", function ($scope, $http) {
            $scope.loadInvoice = function () {
                $http({
                    method: 'GET',
                    url: "/Admin/Invoice/LoadInvoices",
                    params: {
                        page: 1,
                    }
                }).success(function (response) {
                    $scope.Invoices = response.Items;
                    $scope.currentPage = response.CurrentPage;
                    $scope.totalItems = response.TotalItems;

                    //create page number
                    var pageNumber = [];
                    for (var i = 1; i <= response.TotalPages; i++) {
                        pageNumber.push(i);
                    }

                    $scope.totalPages = pageNumber;

                    for (var i = 0; i < $scope.Invoices.length; i++) {
                        var date = $scope.Invoices[i].Date;
                        var d = new Date(parseInt(date.substr(6)));
                        $scope.Invoices[i].Date = d.toLocaleDateString('en-US');
                    }
                });
            }

            $scope.loadStatus = function () {
                $http({
                    method: 'GET',
                    url: "/Admin/Invoice/LoadStatuses"
                }).success(function (response) {
                    $scope.Statuses = response;
                });
            }

            $scope.insertStatus = function () {
                $http({
                    method: 'POST',
                    url: "/Admin/Invoice/InsertStatus",
                    params: {
                        StatusName: $scope.newStatusName
                    }
                }).success(function (response) {
                    $('#addNewStatus').modal('hide');
                    $scope.newStatusName = null;
                    $scope.loadStatus();
                });
            }

            $scope.getStatus = function (index) {
                $scope.uStatusID = $scope.Statuses[index].StatusID;
                $scope.uStatusName = $scope.Statuses[index].StatusName;
                $('#myModal').modal('show');
                
            }

            $scope.updateStatus = function () {
                $http({
                    method: 'POST',
                    url: "/Admin/Invoice/UpdateStatus",
                    params: {
                        StatusID: $scope.uStatusID,
                        StatusName: $scope.uStatusName
                    }
                }).success(function (response) {
                    $('#myModal').modal('hide');
                    $scope.loadStatus();
                });
            }

            $scope.showInvoiceDetail = function (InvoiceID) {
                $http({
                    method: 'GET',
                    url: "/Admin/Invoice/LoadInvoiceDetails",
                    params: {
                        InvoiceID: InvoiceID,
                    }
                }).success(function (response) {
                    $scope.InvoiceDetails = response;
                    $scope.InvOfInD = InvoiceID;
                });
            }

            $scope.updateInvoice = function (InvoiceID, StatusID) {
                $http({
                    method: 'POST',
                    url: "/Admin/Invoice/UpdateInvoice",
                    params: {
                        InvoiceID: InvoiceID,
                        StatusID: StatusID
                    }
                }).success(function (response) {
                    $scope.loadInvoice();
                });
            }

            $scope.removeInvoidDetail = function (InD, ProID, Quantity) {
                $('<div></div>').appendTo('body')
                .html('<div><h6>Bạn có muốn xoá chi tiết ' + InD + '?</h6></div>')
                .dialog({
                    modal: true,
                    title: 'Xác nhận',
                    zIndex: 10000,
                    autoOpen: true,
                    width: '250px',
                    resizable: false,
                    buttons: {
                        Yes: function () {
                            $http({
                                method: 'POST',
                                url: "/Admin/Invoice/RemoveInvoiceDetail",
                                params: {
                                    InvoiceID: $scope.InvOfInD,
                                    InvoiceDetailID: InD,
                                    ProductID: ProID,
                                    Quantity: Quantity
                                }
                            }).success(function (response) {
                                $scope.showInvoiceDetail($scope.InvOfInD);
                            });
                            $(this).dialog("close");

                        },
                        No: function () {
                            $(this).dialog("close");
                        }
                    },
                    close: function (event, ui) {
                        $(this).remove();
                    }
                });
            }
        });
    </script>
}
