﻿@model PetaPoco.Page<Business.ViewModels.ProducerViewModels>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    int count = 0;
    int countX3 = 0;
    Business.ViewModels.ProducerViewModels element;
}

<div class="main-container col2-left-layout">
    <!-- Start Link Previous -->
    <div class="breadcrumbs">
        <div class="container">
            <ul>
                <li class="home">
                    <a href="@Url.Action("Index", "Home")" title="Về trang chủ">Trang chủ</a>
                    <span></span>
                </li>

                <li class="category3">
                    <strong>Nhà sản xuất</strong>
                </li>
            </ul>
        </div>
    </div>
    <!-- End Link Previous -->

    <div class="container">
        <div class="main">
            <div class="row">

                @*Start Left Menu*@
                @Html.Action("_LeftMenuPartial", "Menu")
                @*End Left Menu*@

                <div class="col-main col-xs-12 col-sm-9">
                    @if (Model.TotalItems > 0)
                    {
                        <div class="category-products">
                            <div class="toolbar">
                                <div class="pager">
                                    <!-- Start Sort Product Information -->
                                    <div class="sort-by hidden-xs">
                                        <label></label>
                                    </div>
                                    <!-- End Sort Product Information -->
                                    <!--<p class="amount"><strong></strong></p>-->
                                </div>

                                <div class="sorter">
                                    <!-- Start Show Number of Products per Page -->
                                    <div class="limiter hidden-xs">
                                        <label></label>
                                        <div class="limiter-inner">

                                        </div>
                                    </div>
                                    <!-- End Show Number of Products per Page -->
                                    @*Start Page List*@
                                    @if (Model.TotalPages > 1)
                                    {
                                        <div class="pages">
                                            <ol>
                                                @if (Model.CurrentPage > 1)
                                                {
                                                    <li>
                                                        <a class="previous i-previous" href="@Url.Action("Index", "Producer", new { page = Model.CurrentPage - 1 })"></a>
                                                    </li>
                                                }

                                                @*Start Code Here*@
                                                @for (int i = 1; i <= Model.TotalPages; i++)
                                                {
                                                    if (i != Model.CurrentPage)
                                                    {
                                                        <li>
                                                            <a href="@Url.Action("Index", "Producer", new { page = i })">
                                                                @i
                                                            </a>
                                                        </li>
                                                    }
                                                    else
                                                    {
                                                        <li class="current">@i</li>
                                                    }
                                                }
                                                @*End Code*@

                                                @if (Model.CurrentPage < Model.TotalPages)
                                                {
                                                    <li>
                                                        <a class="next i-next" href="@Url.Action("Index", "Producer", new { page = Model.CurrentPage + 1 })"></a>
                                                    </li>
                                                }
                                            </ol>
                                        </div>
                                    }
                                    @*End Page List*@
                                </div>
                            </div>

                            <!-- Start Product List -->
                            <div class="product-grid-container">
                                @while (count < Model.Items.Count)
                                {
                                    countX3 = count + 3 <= Model.Items.Count ? count + 3 : Model.Items.Count;

                                    <ul class="products-grid row">
                                        <!-- Start An Item -->
                                        @for (var i = count; i < countX3; i++)
                                        {
                                            element = Model.Items[i];

                                            <li class="ma-item_slider col-md-4 col-sm-4 col-sms-12 col-smb-12 item first">
                                                <div class="item-inner">
                                                    <div class="images-container">
                                                        <!-- Start Product Image -->
                                                        <a href="@Url.Action("Producer", "Producer", new { id = element.ProducerID, name = element.ProducerName})" class="product-image">
                                                            @if (element.Logo != null)
                                                            {
                                                                <img src="@element.Logo" id="product-collection-image-@(i + 1)" />
                                                            }
                                                            else
                                                            {
                                                                <img src="/images/no-image/268.jpg" id="product-collection-image-@(i + 1)" />
                                                            }
                                                        </a>
                                                        <!-- End Product Image -->
                                                    </div>

                                                    <!-- Start Product Main Information -->
                                                    <div class="des-container">
                                                        <h2 class="product-name">
                                                            <a href="@Url.Action("Producer", "Producer", new { id = element.ProducerID, name = element.ProducerName})">
                                                                @element.ProducerName
                                                            </a>
                                                        </h2>

                                                        <div class="ma-desc"></div>

                                                    </div>
                                                    <!-- End Product Main Information -->
                                                </div>
                                            </li>
                                        }
                                        <!-- End An Item -->
                                    </ul>
                                    count += 3;
                                }
                            </div>
                            <!-- End Product List -->
                            @*Start Page List*@
                            @if (Model.TotalPages > 1)
                            {
                                <div class="toolbar-bottom">
                                    <div class="toolbar">
                                        <ul class="paging">
                                            @if (Model.CurrentPage > 1)
                                            {
                                                <li>
                                                    <a class="prev" href="@Url.Action("Index", "Producer", new { page = Model.CurrentPage - 1 })"></a>
                                                </li>
                                            }

                                            @for (int i = 1; i <= Model.TotalPages; i++)
                                            {
                                                <li>
                                                    @if (i != Model.CurrentPage)
                                                    {
                                                        <a href="@Url.Action("Index", "Producer", new { page = i })">@i</a>
                                                    }
                                                    else
                                                    {
                                                        <a class="current">@i</a>
                                                    }
                                                </li>
                                            }

                                            @if (Model.CurrentPage < Model.TotalPages)
                                            {
                                                <li>
                                                    <a class="next" href="@Url.Action("Index", "Producer", new { page = Model.CurrentPage + 1 })"></a>
                                                </li>
                                            }
                                        </ul>
                                    </div>
                                </div>
                            }
                            @*End Page List*@
                        </div>
                    }
                    else
                    {
                        <p class="no-item">
                            Hiện chưa có nhà sản xuất nào.
                        </p>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
