﻿@model Business.ViewModels.MenuViewModels

@{
    Layout = null;
    int i = 1;
}

<div class="nav-container visible-lg visible-md">
    <div id="pt_custommenu" class="pt_custommenu">
        <div id="pt_menu_home" class="pt_menu">
            <div class="parentMenu">
                <a href="@Url.Action("Index", "Home")">
                    <span>Trang chủ</span>
                </a>
            </div>
        </div>

        @foreach (var element in Model.Categories)
        {
            <div id="pt_menu@(i) " class="pt_menu nav-@(i) @(element.SubCategories.Count == 0 ? "pt_menu_no_child" : "")">
                <div class="parentMenu">
                    <a href="@Url.Action("Cat", "Category", new { id = element.CategoryID, name = element.RouteName })">
                        <span>@element.CategoryName</span>
                    </a>
                </div>

                @if (element.SubCategories.Count > 0)
                {
                    int j = 1;
                    <div id="popup@(i)" class="popup" style="display: none; width: 1228px;">
                        <div class="block1" id="block@(i)">
                            @foreach (var e in element.SubCategories)
                            {
                                <div class="column @(j == 1 ? "first" : "") col@(j)">
                                    @*<div class="itemMenu level1">*@
                                    @*<a class="itemMenuName level1" href="http://demo4plazathemes.com/19/ma_flaton/index.php/laptop/dresses.html">
                                            <span>@e.SubCategoryName</span>
                                        </a>*@

                                    <div class="itemSubMenu level1">
                                        <div class="itemMenu level2">
                                            <a class="itemMenuName level2" href="@Url.Action("Sub", "Category", new { id = element.CategoryID, name = element.RouteName, subId = e.SubCategoryID, subname = e.RouteName })">
                                                <span>@e.SubCategoryName</span>
                                            </a>
                                        </div>
                                    </div>
                                    @*</div>*@
                                </div>

                                if (j % 4 == 0)
                                {
                                    j = 0;
                                    <br />
                                }

                                j++;
                            }
                            <div class="clearBoth"></div>
                        </div>
                    </div>
                }
            </div>
            i++;
        }

        <div id="pt_menu@(i)" class="pt_menu nav-@(i)">
            <div class="parentMenu">
                <a href="@Url.Action("Index", "Producer")">
                    <span>Nhà sản xuất</span>
                </a>
            </div>

            <div id="popup@(i)" class="popup" style="display: none; width: 1228px;">
                <div class="block1" id="block@(i++)">
                    @{ int index = 1; }
                    @foreach (var element in Model.Producers)
                    {
                        <div class="column @(index == 1 ? "first" : "") col@(index)">
                            @*<div class="itemMenu level1">*@
                            <div class="itemSubMenu level1">
                                <div class="itemMenu level2">
                                    <a class="itemMenuName level2" href="@Url.Action("Producer", "Producer", new { id = element.ProducerID, name = element.RouteName })">
                                        <span>@element.ProducerName</span>
                                    </a>
                                </div>
                            </div>
                            @*</div>*@
                        </div>

                        if (index == 4)
                        {
                            index = 0;
                            <br />
                        }

                        index++;
                    }
                    <div class="clearBoth"></div>
                </div>
            </div>
        </div>

        <div id="pt_menu@(i)" class="pt_menu nav-@(i) pt_menu_no_child">
            <div class="parentMenu">
                <a href="@Url.Action("Index", "Sale")">
                    <span>Khuyến mãi</span>
                </a>
            </div>
        </div>

        <div class="clearBoth"></div>
    </div>
</div>