﻿@model Business.ViewModels.MenuViewModels

@{
    Layout = null;
    bool isFirst = true;
    byte i = 1;
}

<div class="ma-nav-mobile-container visible-xs">
    <div class="navbar">
        <div id="navbar-inner" class="navbar-inner navbar-inactive">
            <div class="menu-mobile">
                <a class="btn btn-navbar navbar-toggle"></a>
                <span class="brand navbar-brand">Danh mục</span>
            </div>
            <ul id="ma-mobilemenu" class="mobilemenu nav-collapse collapse">
                @foreach (var element in Model.Categories)
                {
                    int count = element.SubCategories.Count;

                    <li class="level0 nav-@(i) level-top @(isFirst == true ? "first" : "") @(count > 0 ? "parent" : "")">
                        <a href="@Url.Action("Cat", "Category", new { id = element.CategoryID, name = element.RouteName })" class="level-top">
                            <span>@element.CategoryName</span>
                        </a>
                        @if (count > 0)
                        {
                            byte j = 1;
                            <ul class="level0">
                                @foreach (var e in element.SubCategories)
                                {
                                    <li class="level1 nav-@(i)-@(j) @(isFirst == true ? "first" : j == count ? "last" : "")">
                                        <a href="@Url.Action("Sub", "Category", new { id = element.CategoryID, name = element.RouteName, subId = e.SubCategoryID, subName = e.RouteName })">
                                            <span>@e.SubCategoryName</span>
                                        </a>
                                    </li>

                                    j++;

                                    if (isFirst)
                                    {
                                        isFirst = false;
                                    }
                                }
                            </ul>
                        }
                    </li>

                    i++;
                }

                <li class="level0 nav-@(i) level-top parent">
                    <a href="@Url.Action("Index", "Producer")" class="level-top">
                        <span>Nhà sản xuất</span>
                    </a>
                    <ul class="level0">
                        @{
                            byte k = 1;
                            int countProducer = Model.Producers.Count();
                            isFirst = true;
                        }

                        @foreach (var element in Model.Producers)
                        {
                            <li class="level1 nav-@(i)-@(k) @(isFirst == true ? "first" : k == countProducer ? "last" : "")">
                                <a href="@Url.Action("Producer", "Producer", new { id = element.ProducerID, name = element.RouteName })">
                                    <span>@element.ProducerName</span>
                                </a>
                            </li>

                            k++;

                            if (isFirst)
                            {
                                isFirst = false;
                            }
                        }
                    </ul>
                </li>

                <li class="level0 nav-@(++i) level-top last">
                    <a href="@Url.Action("Index", "Sale")" class="level-top">
                        <span>Khuyến mãi</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

@*<li class="level0 nav-1 level-top first parent">
        <a href="http://demo4plazathemes.com/19/ma_flaton/index.php/laptop.html" class="level-top">
            <span>laptop</span>
        </a>
        <ul class="level0">
            <li class="level1 nav-1-1 first parent">
                <a href="http://demo4plazathemes.com/19/ma_flaton/index.php/laptop/dresses.html">
                    <span>Dresses</span>
                </a>
                <ul class="level1">
                    <li class="level2 nav-1-1-1 first">
                        <a href="http://demo4plazathemes.com/19/ma_flaton/index.php/laptop/dresses/cocktail.html">
                            <span>Cocktail</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </li>*@
