﻿@model List<Business.ViewModels.ProductViewModels>

@{
    Layout = null;

    int count = 0;
    int countX4 = 0;
    bool isSaled = false;
}

<div class="ma-relatedslider-container block">
    <div class="related-product-title block-title">
        <strong><span>Sản phẩm cùng loại</span></strong>
    </div>

    <div class="owl-container">
        <div class="owl" id="block-related">
            @while (count < Model.Count)
            {
                countX4 = count + 4 <= Model.Count ? count + 4 : Model.Count;

                <div class="relatedslider-item product">
                    @for (var i = count; i < countX4; i++)
                    {
                        isSaled = Model[i].SalePrice == 0 ? false : true;

                        <div class="item-inner ">
                            <div class="images-container">
                                <a href="@Url.Action("Detail", "Product", new { id = Model[i].ProductID, name = Model[i].RouteName })" class="product-image">
                                    @if (Model[i].Quantity == 0)
                                    {
                                        <img src="~/images/notification/soldout.png" class="soldOut" />
                                    }
                                    <img src="@(Model[i].Images.Count > 0 ? Model[i].Images[0].Link : "/images/no-image/268.jpg")" />
                                </a>

                                <div class="box-hover">
                                    <div class="box-des">

                                    </div>
                                </div>
                            </div>

                            <div class="des-container">
                                <div class="box-inner1">
                                    <p class="product-name">
                                        <a href="@Url.Action("Detail", "Product", new { id = Model[i].ProductID, name = Model[i].RouteName })">
                                            @Model[i].ProductName
                                        </a>
                                    </p>

                                    <div class="price-box">
                                        @if (isSaled)
                                        {
                                            <p class="special-price">
                                                <span class="price" id="product-price-@(i)-related">
                                                    @Model[i].SalePrice.ToString("##,#")
                                                </span>
                                            </p>
                                        }

                                        <p class="@(!isSaled ? "regular-price" : "old-price")">
                                            <span class="price" id="old-price-@(i)-related">
                                                @Model[i].Price.ToString("##,#")
                                            </span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>

                count += 4;
            }
        </div>
    </div>
</div>
